{% extends 'base/base.html' %}


{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>inventario</td>
			<td>producto</td>
			<td>cantidad</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		
		{% for inventarioproducto in object_list %}	
        <tr>
        	<td>{{ inventarioproducto.id }}</td>
			<td>{{ inventarioproducto.inventario}}</td>
			<td>{{ inventarioproducto.producto }}</td>
			<td>{{ inventarioproducto.cantidad }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'inventarioproducto:inventariop_editar' inventarioproducto.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'inventarioproducto:inventariop_eliminar' inventarioproducto.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<h1>No hay registros de inventarios </h1>
		{% endif %}
	</tbody>
</table> 

{% endblock%}